# These settings control the basic operation of the Nexus Tuner application.
# These can be set either in this file stored as `config/.env` or as environment variables in your system.
# Values set on your system or in the docker-compose file will override these defaults.

# Non-docker users will need to change these paths to match their system (VLC is optional).
NEXUS_CONFIG_DIR=/config
NEXUS_FFMPEG_PATH=/usr/bin/ffmpeg
NEXUS_VLC_PATH=/usr/bin/vlc

# This is where you will access the WEBUI and where clients will connect to the tuner.
# For docker users, NEXUS_PORT in the docker-compose file will override this.
NEXUS_URL=http://10.1.1.23
NEXUS_PORT=4040

# These defaults should work for most users.
NEXUS_STREAM_ENGINE=ffmpeg
NEXUS_PROCESS_INACTIVITY_TIMEOUT=900
NEXUS_PROCESS_LOGS_RETENTION_SECONDS=86400
NEXUS_LOG_BACKUP_COUNT=30
NEXUS_BACKUP_COUNT=30

# These are optional settings to help with media server integration.
NEXUS_EMBY_URL=
NEXUS_EMBY_API_KEY=
NEXUS_JELLYFIN_URL=
NEXUS_JELLYFIN_API_KEY=
NEXUS_GHOST_SESSION_CHECK_INTERVAL=60
