NEXUS_URL=http://10.1.1.23
NEXUS_HLS_SEGMENT_DURATION=3
NEXUS_FFMPEG_HLS_INACTIVITY_TIMEOUT=5
NEXUS_FFMPEG_START_TIMEOUT="
NEXUS_HLS_PLAYLIST_LENGTH=10
EMBY_URL=http://10.1.1.24:8096
EMBY_API_KEY=92346892345892y
JELLYFIN_URL=http://10.1.1.25:8096
JELLYFIN_API_KEY=873245t78925y
GHOST_SESSION_CHECK_INTERVAL=60
LOG_LEVEL=info
LOG_BACKUP_COUNT=7
FFMPEG_LOGS_RETENTION_SECONDS=86400
