<div class="card">
    <div class="card-header">
        Map Source Services to "<span id="channel-name-header">{{ channel.display_name or 'New Channel' }}</span>"
    </div>
    <div class="card-body">

        <div id="service-search-wrapper">
            <p class="small text-muted">
                If your channel wasn't pre-defined or you want to use a different filter, use the search below:
            </p>
            <div class="input-group mb-3">
                <input type="search" 
                        class="form-control" 
                        id="service-search-input"
                        name="search_query"
                        value="{{ search_query or '' }}"
                        placeholder="Search all available services..."
                        hx-get="{{ url_for('ui_logical_channel_form', logical_channel_id=channel.logical_channel_id) }}"
                        hx-trigger="keyup changed delay:500ms, search"
                        hx-target="#service-list-container"
                        hx-indicator="#search-spinner">
                <span id="search-spinner" class="input-group-text htmx-indicator">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </span>
            </div>
        </div>

        <div id="service-list-container">
            {% include '_service_list_content.html' %}
        </div>
    </div>
</div>